header div, footer div{
    display: block;
    text-align: center;
    padding-top: 10px;
}
.flexcontainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}
div.flexcontainer{
    height: 300px;
    width: 300px;
}
div.flexcontainer button{
    height: 100px;
    width: 100px;
}
